<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="com.change_vision.astahRepresentation.ui.actionSets">
        <actionSet
                label="%action_set_label"
                visible="true"
                id="hu.modeldriven.astahRepresentation-traceability.actionSet">
            <menu
                    id="astahRepresentation-traceability"
                    label="%menu_group"
                    path="tool/astahRepresentation-traceability">
            </menu>
            <action
                    label="%menu_label"
                    icon="icons/sample.gif"
                    class="hu.modeldriven.astahRepresentation.traceability.TemplateAction"
                    tooltip="%menu_tooltip"
                    menubarPath="tool/astahRepresentation-traceability/"
                    id="astahRepresentation-traceability">
            </action>
        </actionSet>
    </extension>
</plugin>
